/*                KEY POSITIONS REVXLP

  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰──────────╮  36  37  38 │ │ 39  40  41 ╭───────────╯
             ╰─────────────╯ ╰────────────╯            */

/*                KEY POSITIONS TOTEM

       ╭───────────────────╮ ╭────────────────────╮
       │ 0   1   2   3   4 │ │  5   6   7   8   9 │
  ╭────╯10  11  12  13  14 │ │ 15  16  17  18  19 ╰───╮
  │ 20  21  22  23  24  25 │ │ 26  27  28  29  30  31 │
  ╰──────────╮  32  33  34 │ │ 35  36  37 ╭───────────╯
             ╰─────────────╯ ╰────────────╯            */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, IDLEMS) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
            require-prior-idle-ms = <IDLEMS>; \
        };

/ {
    combos {
        compatible = "zmk,combos";

// Spacing combos
COMBO(ret,         &kp RET,              15 26,         OPTIM ARROW KEYPAD SYMBOL NUMBERS MOUSE, 150, 20) // require-prior-idle-ms to 0 instead of 80, & TERM to 150, to try and prevent accidental input of "pg" instead of sending "Return" 22/11/2024 term set to 50 to see if better "return activation occurs"...26/11/2024 seemed better with 150 - reverted
COMBO(ret2,        &kp RET,              13 24,         OPTIM ARROW KEYPAD SYMBOL NUMBERS MOUSE, 150, 100)
COMBO(del,         &kp DEL,               5 15,         OPTIM KEYPAD SYMBOL NUMBERS MOUSE, 50, 100)
COMBO(bspc,        &kp BSPC,              6 16,         OPTIM ARROW KEYPAD SYMBOL NUMBERS, 40, 0) //require-prior-idle-ms disabled with -1, I want it to trigger no matter what. Time-out to 250 in order to get a more permissive trigger of the combo.
COMBO(bspcword,    &kp LA(BSPC),          7 17,         OPTIM ARROW KEYPAD SYMBOL NUMBERS MOUSE, 30, 80) //require-prior-idle-ms to 80 instead of 100, to ease usage while typing. Trying to make it more of a comittment with 30 timout-ms (term)
COMBO(tab,         &kp TAB,               5  6,         OPTIM ARROW NUMBERS, 40, 80)

COMBO(stab,        &kp LS(TAB),          15 16,         OPTIM KEYPAD SYMBOL NUMBERS, 50, 100)

// Shift Combo

// Letters combos
COMBO(op_cced,     &kp OP_CCED,          16 27,         OPTIM ARROW NUMBERS, 50, 50) //timeout-ms to 50 instead of 70, and require-prior-idle-ms to 50 instead of 100 to see if it works better during typing tests.

// Characters combo
COMBO(op_cir,      &kp OP_CIR,           17 28,         OPTIM NUMBERS, 50, 50) //require-prior-idle-ms to 50 instead of 100 to see if it works better during typing tests.
COMBO(op_hash,     &kp OP_HASH,          27 28,         OPTIM ARROW NUMBERS, 50, 100)
COMBO(op_at,       &kp OP_AT,            28 29,         OPTIM ARROW NUMBERS, 50, 100)
COMBO(op_unds,     &kp OP_UNDS,          26 27,         OPTIM ARROW NUMBERS, 50, 100)
COMBO(op_min,      &kp OP_MIN,           23 24,         OPTIM ARROW NUMBERS, 50, 100)
COMBO(op_plus,     &kp OP_PLUS,          22 23,         OPTIM ARROW NUMBERS, 50, 100)
COMBO(op_oppar,    &kp N9,                8 18,         OPTIM ARROW NUMBERS KEYPAD SYMBOL, 50, 100)
COMBO(op_clpar,    &kp N0,                9 19,         OPTIM ARROW NUMBERS KEYPAD SYMBOL, 50, 100)

// Layers combos
COMBO(lay-arrow,   &tog ARROW,            1  2  3,      OPTIM ARROW, 50, 100)
COMBO(lay-number,  &tog NUMBERS,          6  7  8,      OPTIM ARROW NUMBERS, 50, 100)
COMBO(to-0,        &to 0,                22 23 24,      ARROW NUMBERS, 50, 100)
COMBO(to-0-fromkeypad, &to 0,             1  2  3,      KEYPAD, 50, 100)
COMBO(to-keypad,   &to 4,                   35 37,      OPTIM, 50, 100)

// Editing combos
COMBO(op-cut,      &kp LG(LBKT),          1 11,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100)
COMBO(op-copy,     &kp LG(M),             2 12,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100)
COMBO(op-paste,    &kp LG(FSLH),          3 13,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100)
COMBO(op-pasttxt,  &kp LG(LA(LS(FSLH))),  4 14,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100) //paste without formatting
COMBO(op-undo,     &kp LG(OP_Z),         14 25,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100)
COMBO(op-redo,     &kp LG(LS(OP_Z)),     12 23,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100)

// Application switching combos
COMBO(appwindows,  &win_list,            24 25,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100) //old macro pointed to : &kp LG(OP_DLR), doing a test with combo, behavior is next/prev window from active app, holding allow selecting between the current app's windows, with arrow keys on right homerow.
COMBO(applisthold, &apps_list,           13 14,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100) //old macro pointed to : &kp LG(TAB), now tapping does the same, holding allows to change app with arrow keys on right homerow.
COMBO(applist,     &kp RC(SPACE),         3  4,         OPTIM NUMBERS KEYPAD SYMBOL MOUSE, 50, 100)


// Application specifics shorcuts
    //OmniPlan
COMBO(omnipl-identr2, &kp LG(LS(N0)),    13 14,        ARROW, 50, 100) // Also works for workflowy WkfyNext
COMBO(omnipl-identl2, &kp LG(LS(N9)),    15 16,        ARROW, 50, 100) // Also works for workflowy WkfyPrev

// Escape combos
COMBO(esc,         &kp ESC,           22 23 24,      0 1 2 4 5 6 7, 50, 0) //require-prior-idle-ms to 0 instead of 100, to see if it works better. Sometimes I feel it's difficult to escage several times in a row.
// System combos
COMBO(bootloader,  &bootloader,          35 37,      MOUSE, 50, 100) //hoping locality is kept... 2025-02-20 : not working, to troubleshoot.
    };
};